.header {
    background-color: #E0FFE0;
}

h4 {
    padding: 0px;
    margin: 0px;
}

.btn-talk {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    background: #4caae8;
    padding: 5px;
    text-decoration: none;
    width: 18%;
    border: 0px;
    margin: 0px;
}

.btn-talk:hover {
    background: #4fbcff;
    text-decoration: none;
}

#left-sidebar {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    border: 0px solid #C0C2C5;
    padding: 3px;
    height: 450px;
    font-size: 16px;
    font-weight: bold;
}

#chat-area-wrapper {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    height: 450px;
    overflow: scroll;
    border: 1px solid #C0C2C5;
}

#chat-area {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    height:100%;
    overflow: hidden;
    height: 450px;
    border: 1px solid #C0C2C5;
    padding: 10px;
    font-size: 18px;
}

#question-area {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    height: 50px;
    overflow: scroll;
    padding: 2px;
    margin: 0px;
    border: 1px solid #C0C2C5;
    width: 100%;
}

#input {
  background-color: #fff;
  border: 0px solid #C0C2C5;
  font-family: sans-serif;
  color: #000;
  padding: 5px;
  margin-right: 3px;
  text-decoration: none;
  font-size: 20px;
  width: 80%;
}

#right-sidebar {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    height: 450px;
    overflow: hidden;
    border: 0px solid #C0C2C5;
    font-size: 16px;
    font-weight: bold;
}
